.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .ngb-rating {
    border-radius: 20px;
  }

  .galery{
    columns: 1 120px;
    column-gap: 1.5em;
}

.contenido{
  box-sizing: border-box;
  position: relative;
  display: flex;
 flex-direction: row;
 min-height: 80vh;
}

.image{
  border-radius: 8px
}

.comentario{
  border-radius: 10px;
  background-color: #F4F6F6;
  padding: 5px !important;
}

.gcomentario{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

.data{
  font-size: 12px;
  font-weight: bold;
}
.dataf{
  font-size: 10px;
  font-weight: bold;
  
}

.cuadro{
  max-height: 80vh;
}