.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-danger {
  margin-top: -1vw;
}

.slider {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 50vw;
}

.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider 12.5s infinite;
}

.slider .slide:nth-child(1) {
  background-image: url("../../../../assets/img/slider-1.png");
  animation-delay: 0s;
}

.slider .slide:nth-child(2) {
  background-image: url("../../../../assets/img/slider-2.png");
  animation-delay: -2.5s;
}

.slider .slide:nth-child(3) {
  background-image: url("https://images.unsplash.com/photo-1591019052241-e4d95a5dc3fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
  animation-delay: -5s;
}

.slider .slide:nth-child(4) {
  background-image: url("https://images.unsplash.com/photo-1517430554953-a5ba4678fe85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
  animation-delay: -7.5s;
}

.slider .slide:nth-child(5) {
  background-image: url("https://images.unsplash.com/photo-1583161178154-c362b3459d29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
  animation-delay: -10s;
}

@keyframes slider {
  0%,
  16%,
  100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  96% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}

@media only screen and (min-width: 1301px) {
  .register {
    width: 60%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .banner img {
    width: 50%;
  }

  .input {
    width: 20vw;
    min-height: 2vw;
    border: 1px solid #737373;
    border-radius: 5px;
    margin-bottom: 1vw;
  }

  .input-btn {
    width: 15vw;
    min-height: 2vw;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 1vw;
    margin-bottom: 1vw;
    background: #f9a21e;
  }

  .select {
    width: 20vw;
    min-height: 2vw;
    border: 1px solid #737373;
    border-radius: 5px;
    margin-bottom: 1vw;
  }

  a {
    text-decoration: none;
  }
}

/*PHONE*/
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .register {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-inline-start: 5%;
    position: absolute;
    width: 90%;
  }

  .banner {
    display: none;
  }

  .slider {
    display: none;
  }

  a {
    text-decoration: none;
  }

  .input {
    width: 80vw;
    min-height: 8vw;
    border: 1px solid #737373;
    border-radius: 5px;
    margin-bottom: 2.5vw;
  }

  .input-btn {
    width: 60vw;
    min-height: 8vw;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 2.5vw;
    margin-bottom: 4vw;
    background: #f9a21e;
  }

  .select {
    width: 80vw;
    min-height: 8vw;
    border: 1px solid #737373;
    border-radius: 5px;
    margin-bottom: 2.5vw;
  }
}

/*TABLET*/
@media only screen and (min-width: 601px) and (max-width: 1300px) {
  .register {
    width: 90%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .banner img {
    width: 90%;
  }

  .slider {
    height: 68%;
  }

  .input {
    width: 40vw;
    min-height: 5vw;
    border: 1px solid #737373;
    border-radius: 5px;
    margin-bottom: 2.5vw;
  }

  .input-btn {
    width: 30vw;
    min-height: 5vw;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    background: #f9a21e;
  }

  .select {
    width: 40vw;
    min-height: 5vw;
    border: 1px solid #737373;
    border-radius: 5px;
    margin-bottom: 2.5vw;
  }

  a {
    text-decoration: none;
  }
}
