<!-- NUEVO -->
<div *ngIf="action == 0 " class="w-100 px-2">
  <form [formGroup]="form">
    <formly-form [form]="form" [fields]="fieldsTipo" [model]="model"></formly-form>
    <ng-container *ngIf="model.type == 1">
      <formly-form [form]="form" [fields]="fieldsTipo1" [model]="model"></formly-form>
      <div class="mb-3">
        <label for="formFile" class="form-label">Adjuntar imágen</label>
        <input accept="image/jpeg, image/png" (change)="setFile($event)" class="form-control" type="file" id="formFile">
      </div>
    </ng-container>
    <ng-container *ngIf="model.type == 2">
      <label for="formFile" class="form-label">Seleccionar imágen</label>
      <div class="w-100 p-2 d-flex flex-wrap justify-content-evenly b-3">
        <div *ngFor="let image of images">
          <div [ngClass]="{'border border-warning border-4':selectedImage.id == image.id}" (click)="setImage(image)"
            class="m-1 rounded cursor-pointer border-1">
            <img class="img-fluid" [src]="image.file" alt="meet-mas">
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="model.type == 3">
      <formly-form [form]="form" [fields]="fieldsTipo3" [model]="model"></formly-form>
      <div class="mb-3">
        <label for="formFile" class="form-label">Adjuntar imágen</label>
        <input accept="image/jpeg, image/png" (change)="setFile($event)" class="form-control" type="file" id="formFile">
      </div>
    </ng-container>
    <formly-form [form]="form" [fields]="fieldsGeneral" [model]="model"></formly-form>
    <div class="form-group text-center">
      <input type="submit" (click)="onRegister(model)" class="btn" value="Guardar" [disabled]="form.invalid"
        [ngClass]="'input-btn'" />
    </div>
  </form>
</div>

<!-- REVISION -->
<div *ngIf="action == 2 && data" class="w-100 px-2">

  <form [formGroup]="form">
    <formly-form [form]="form" [fields]="fieldsTipo" [model]="data"></formly-form>
    <ng-container *ngIf="data.type == 1">
      <formly-form [form]="form" [fields]="fieldsTipo1" [model]="data"></formly-form>
      <div class="d-flex flex-column mb-3">
        <label for="formFile" class="form-label">Imágen anuncio</label>
        <img [src]="data.file" class="img-fluid rounded-start" alt="meet-mas" />
      </div>
    </ng-container>
    <ng-container *ngIf="data.type == 2">
      <div class="d-flex flex-column mb-3">
        <label for="formFile" class="form-label">Imágen anuncio</label>
        <img [src]="data.file" class="img-fluid rounded-start" alt="meet-mas" />
      </div>
    </ng-container>
    <ng-container *ngIf="data.type == 3">
      <formly-form [form]="form" [fields]="fieldsTipo3" [model]="data"></formly-form>
      <div class="d-flex flex-column mb-3">
        <label for="formFile" class="form-label">Imágen anuncio</label>
        <img [src]="data.file" class="img-fluid rounded-start" alt="meet-mas" />
      </div>
    </ng-container>
    <formly-form [form]="form" [fields]="fieldsGeneral" [model]="data"></formly-form>
    <formly-form [form]="form" [fields]="fieldsReview" [model]="data"></formly-form>

    <div class="form-group text-center">
      <input type="button" (click)="onAccepReview(data)" class="btn mx-1" value="Aprobar" [ngClass]="'input-btn'" />
      <input type="button" (click)="onRejectReview(data)" class="btn bg-danger mx-1" value="Rechazar"
        [ngClass]="'input-btn'" />
    </div>
  </form>
</div>

<!-- EDITAR -->
<div *ngIf="action == 1 && data" class="w-100 px-2">
  <form [formGroup]="form">
    <formly-form [form]="form" [fields]="fieldsTipo" [model]="model"></formly-form>
    <ng-container *ngIf="model.type == 1">
      <formly-form [form]="form" [fields]="fieldsTipo1" [model]="model"></formly-form>
      <div class="mb-3">
        <label for="formFile" class="form-label">Adjuntar imágen</label>
        <input accept="image/jpeg, image/png" (change)="setFile($event)" class="form-control" type="file" id="formFile">
      </div>
    </ng-container>
    <ng-container *ngIf="model.type == 2">
      <label for="formFile" class="form-label">Seleccionar imágen</label>
      <div class="w-100 p-2 d-flex flex-wrap justify-content-evenly b-3">
        <div *ngFor="let image of images">
          <div [ngClass]="{'border border-warning border-4':selectedImage.id == image.id}" (click)="setImage(image)"
            class="m-1 rounded cursor-pointer border-1">
            <img class="img-fluid" [src]="image.file" alt="meet-mas">
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="model.type == 3">
      <formly-form [form]="form" [fields]="fieldsTipo3" [model]="model"></formly-form>
      <div class="mb-3">
        <label for="formFile" class="form-label">Adjuntar imágen</label>
        <input accept="image/jpeg, image/png" (change)="setFile($event)" class="form-control" type="file" id="formFile">
      </div>
    </ng-container>
    <formly-form [form]="form" [fields]="fieldsGeneral" [model]="model"></formly-form>
    <div class="form-group text-center">
      <input type="submit" (click)="onUpdate(model)" class="btn" value="Guardar" [disabled]="form.invalid"
        [ngClass]="'input-btn'" />
    </div>
  </form>
</div>