.input-btn {
  width: 15vw;
  min-height: 2vw;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  background: #f9a21e;
}

.cursor-pointer {
  cursor: pointer;
}
