<app-menu></app-menu>
<div class="container">
  <div class="col-md-12 col-sm-12 card vacio">
    <div class="card-body text-justify">
      <h5 *ngIf="user.type === 0">Su membresía actual es BRONCE</h5>
      <h5 *ngIf="user.type === 1">Su membresía actual es PLATA</h5>
      <h5 *ngIf="user.type === 2">Su membresía actual es ORO</h5>
      <h5 *ngIf="user.type === 3">Su membresía actual es DIAMANTE</h5>
    </div>
  </div>
  <div *ngIf="membresias.length > 0">
    <div class="containerInput row">
      <div *ngFor="let item of membresias" class="col-md-4 col-sm-12 card">
        <div class="card-header text-center">
          <h3>{{ item.name }}</h3>
        </div>
        <div class="card-body text-center">
          <h4>{{ item.price | currency : "USD" }}</h4>
          <p>{{ item.description }}</p>
        </div>
        <div
          class="card-footer d-flex aling-items-center justify-content-center"
        >
          <button
            class="btn btn-primary"
            type="button"
            (click)="onSelectMembership(item)"
          >
            COMPRAR
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="membresias.length === 0">
    <div class="col-md-12 col-sm-12 card vacio">
      <div class="card-body text-center">
        <h4>No hay membresías disponibles</h4>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<app-modal-alerts
  [idModal]="'infoBuyMembership'"
  [icono]="'./assets/img/warning.png'"
  [titulo]="'¿Esta seguro?'"
  [descripcion]="''"
  (successModal)="onBuyMembership()"
  [tipo]="0"
  #infoBuyMembership
></app-modal-alerts>

<app-modal-alerts
  [idModal]="'successBuyM'"
  [icono]="'./assets/img/success.png'"
  [titulo]="'Proceso Exitoso'"
  [descripcion]="message"
  (successModal)="onRedirigir()"
  [tipo]="0"
  #successBuyM
></app-modal-alerts>

<app-modal-alerts
  [idModal]="'failBuyM'"
  [icono]="'./assets/img/fail.png'"
  [titulo]="'Proceso No Exitoso'"
  [descripcion]="message"
  [tipo]="0"
  #failBuyM
></app-modal-alerts>
