<div
  class="modal fade"
  id="modalFad"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          #frmRegister="ngForm"
          class="form form-horizontal"
          (ngSubmit)="onRegister(frmRegister)"
        >
          <div class="form-body">
            <div class="row">
              <div class="col-md-4">
                <label> Nombre: </label>
              </div>
              <div class="col-md-8 form-group">
                <div class="position-relative has-icon-left">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nombre"
                    id="name"
                    name="name"
                    required
                    ngModel
                    #name="ngModel"
                    [ngClass]="'input'"
                  />
                  <div
                    *ngIf="name.invalid && (name.dirty || name.touched)"
                    class="text-danger form-group position-absolute"
                  >
                    <small class="form-group" *ngIf="name.errors?.['required']">
                      Campo requerido.
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label> Descripcion: </label>
              </div>
              <div class="col-md-8 form-group">
                <div class="position-relative has-icon-left">
                  <textarea
                    type="text"
                    class="form-control"
                    placeholder="Descripción"
                    id="description"
                    name="description"
                    required
                    ngModel
                    #name="ngModel"
                    [ngClass]="'input'"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-4">
                <label> Foto: </label>
              </div>
              <div class="col-md-8 form-group">
                <div class="position-relative has-icon-left">
                  <input
                    type="file"
                    class="d-none"
                    (change)="onChange($event)"
                    accept="image/png"
                    #photoInput
                  />
                  <img
                    alt=""
                    [src]="photoSelected || '../../../../assets/image.jpg'"
                    class="img-fluid"
                    style="max-width: 300px !important"
                    (click)="photoInput.click()"
                  />
                </div>
              </div>
              <br /><br />
              <div class="col-12 d-flex justify-content-end">
                <input
                  class="btn float-right login_btn enviar"
                  type="submit"
                  value="Registrar"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-alert [classAlert]="classA" [message]="message"></app-alert>
