.hidden {
  visibility: hidden;
}

.text-danger {
  margin-top: -1vw;
}

@media only screen and (min-width: 1001px) {
  .input-btn {
    width: 15vw;
    min-height: 2vw;
    border: 1px solid #737373;
    border-radius: 20px;
    margin-top: 1vw;
    margin-bottom: 1vw;
    background: #f9a21e;
  }
}

/*PHONE*/
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .input-btn {
    width: 60vw;
    min-height: 8vw;
    border: 1px solid #737373;
    border-radius: 20px;
    margin-top: 2.5vw;
    margin-bottom: 4vw;
    background: #f9a21e;
  }
}

/*TABLET*/
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .input-btn {
    width: 30vw;
    min-height: 5vw;
    border: 1px solid #737373;
    border-radius: 20px;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    background: #f9a21e;
  }
}

.enviar {
  background-color: #f9a21e;
}
