<div
  class="modal fade"
  id="modalLogin"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #frmLogin="ngForm" (ngSubmit)="onLogin(frmLogin)">
          <div class="form-group">
            <label class="label">Nombre de usuario</label>
            <input
              id="userNameL"
              type="text"
              class="form-control mb-3"
              placeholder="Nombre usuario"
              required
              ngModel
              name="userNameL"
              #userNameL="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="
                userNameL.invalid && (userNameL.dirty || userNameL.touched)
              "
              class="text-danger"
            >
              <small *ngIf="userNameL.errors?.['required']">
                Ingrese el username.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="label">Contraseña</label>
            <input
              type="password"
              class="form-control mb-3"
              placeholder="Contraseña"
              id="passwordL"
              required
              ngModel
              name="passwordL"
              #passwordL="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="
                passwordL.invalid && (passwordL.dirty || passwordL.touched)
              "
              class="text-danger form-group"
            >
              <small class="form-group" *ngIf="passwordL.errors?.['required']">
                Ingrese la contraseña.
              </small>
            </div>
          </div>
          <div
            class="d-flex justify-content-center align-items-center flex-column"
          >
            <a class="btn-link btn border-0 p-0 m-0" (click)="onUser()">
              Olvidé mi usuario </a
            ><br />
            <a class="btn-link btn border-0 p-0 m-0" (click)="onPass()">
              Olvidé mi contraseña
            </a>
          </div>
          <div class="modal-footer justify-content-center d-flex border-0">
            <div class="form-group text-center">
              <input
                type="submit"
                class="btn"
                data-bs-toggle="modal"
                data-bs-target="#modalOtp"
                value="Iniciar Sesión"
                [disabled]="!frmLogin.valid"
                [ngClass]="'input-btn'"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Validar credenciales-->
<app-otp [userN]="nameUser" [idModal]="'modalOtp'" #modalOtp></app-otp>

<app-modal-alerts
  [idModal]="'modalCredencialSuccess'"
  [icono]="'./assets/img/success.png'"
  [titulo]="'Proceso Exitoso'"
  [descripcion]="message"
  [tipo]="0"
  (successModal)="onValidCredecial()"
  #modalCredencialSuccess
></app-modal-alerts>

<app-modal-alerts
  [idModal]="'modalCredencialFail'"
  [icono]="'./assets/img/fail.png'"
  [titulo]="'Error en el proceso'"
  [descripcion]="message"
  [tipo]="0"
  (successModal)="onFailValidCredecial()"
  #modalCredencialFail
></app-modal-alerts>

<!--Recuperar usuario-->
<app-modal-alerts
  [idModal]="'modalUserName'"
  [tipo]="1"
  [title]="'Recuperar Usuario'"
  (sendModal)="onForm($event)"
  #modalUserName
></app-modal-alerts>

<app-modal-alerts
  [idModal]="'modalUserSuccess'"
  [icono]="'./assets/img/success.png'"
  [titulo]="'Proceso Exitoso'"
  [descripcion]="message"
  [tipo]="0"
  #modalUserSuccess
></app-modal-alerts>

<app-modal-alerts
  [idModal]="'modalUserFail'"
  [icono]="'./assets/img/fail.png'"
  [titulo]="'Error en el proceso'"
  [descripcion]="message"
  [tipo]="0"
  #modalUserFail
></app-modal-alerts>

<!--Recuperar contraseña-->
<app-modal-alerts
  [idModal]="'modalPassword'"
  [tipo]="2"
  [title]="'Recuperar Contraseña'"
  (sendModal)="onFormPass($event)"
  #modalPassword
></app-modal-alerts>

<app-modal-alerts
  [idModal]="'modalPassSuccess'"
  [icono]="'./assets/img/success.png'"
  [titulo]="'Proceso Exitoso'"
  [descripcion]="message"
  [tipo]="0"
  (successModal)="onRecover()"
  #modalPassSuccess
></app-modal-alerts>

<app-modal-alerts
  [idModal]="'modalPassFail'"
  [icono]="'./assets/img/fail.png'"
  [titulo]="'Error en el proceso'"
  [descripcion]="message"
  [tipo]="0"
  #modalPassFail
></app-modal-alerts>

<!--Recuperar contraseña parte 2-->
<app-modal-alerts
  [idModal]="'modalRecover'"
  [tipo]="3"
  [title]="'Actualizar Contraseña'"
  (sendModal)="onFormActPass($event)"
  #modalRecover
></app-modal-alerts>

<app-modal-alerts
  [idModal]="'modalRecoverSuccess'"
  [icono]="'./assets/img/success.png'"
  [titulo]="'Proceso Exitoso'"
  [descripcion]="message"
  [tipo]="0"
  #modalRecoverSuccess
></app-modal-alerts>

<app-modal-alerts
  [idModal]="'modalRecoverFail'"
  [icono]="'./assets/img/fail.png'"
  [titulo]="'Error en el proceso'"
  [descripcion]="message"
  [tipo]="0"
  #modalRecoverFail
></app-modal-alerts>
