<app-menu></app-menu>
<div class="container">
  <div class="col-md-11 p-4 d-grid gap-2 d-md-flex justify-content-md-end">
    <button
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#modalFad"
      class="btn btn-warning nuevo"
    >
      Publicar
    </button>
  </div>
  <div class="row">
    <ng-container *ngIf="fad?.length > 0">
      <div class="galery" style="min-height: 73vh">
        <div *ngFor="let f of fad" (click)="selectedFad(f._id)" class="p-2">
          <div class="card rounded-3">
            <img
              alt=""
              class="card borde card-img-top"
              [src]="api + f.picture"
              class="w-100 rounded-3"
            />
            <div class="card-body">
              <p class="card-text">{{ f.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="fad.length === 0">
      <div class="d-flex justify-content-center" style="min-height: 73vh">
        <Span>No hay publicaciones disponibles</Span>
      </div>
    </ng-container>
  </div>
  <br />
</div>
<app-mmodal [title]="'Nueva Publicación'"></app-mmodal>
<app-alert [classAlert]="classA" [message]="message"></app-alert>

<app-footer></app-footer>
