<app-menu></app-menu>
<div class="container">
  <div class="col-md-11 p-4 d-grid gap-2 d-md-flex justify-content-md-end">
    <button
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#modalFad"
      class="btn btn-warning nuevo"
    >
      Publicar
    </button>
  </div>



  <ng-container *ngIf="fad?.length > 0">
    <div class="gallery">
      <div
        *ngFor="let f of fad"
        (click)="selectedFad(f._id)"
        class="h-100 d-inline-block mt-3 card rounded"
      >
        <img class="rounded-top card-img" [src]="api + f.picture"/>
        <div
          class="card-body rounded-bottom estilo justify-content-center no-gutters"
          style="padding: 0% !important"
        >
          <p class="class-text text-center">{{ f.name }}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="fad.length === 0">
    <div class="d-flex justify-content-center" style="min-height: 73vh">
      <Span>No hay publicaciones disponibles</Span>
    </div>
  </ng-container>

  <br />
</div>
<app-mmodal [title]="'Nueva Publicación'"></app-mmodal>
<app-alert [classAlert]="classA" [message]="message"></app-alert>

<app-footer></app-footer>
