
.img{
max-width: 100%;
margin-bottom: 1.5em;
display: block;
outline: 2px solid #000;
outline-offset: -10px;
max-height: 500px !important;

}

.galery{
    columns: 5 120px;
    column-gap: 1.5em;
}

.estilo{
    background-color: darkgray;
    margin-top: 2px;
    border-radius: 5px;
    
}
