<app-menu></app-menu>
<div class="d-flex flex-column ">
  <div class="container p-3 w-100 ">
    <h2 class="text-center fw-bold">ACUERDO DE AFILIACIÓN</h2>
    <div class="container p-2 ms-2 mt-3">

      <div class="w-100 mb-4">
        <p class="ms-2 mt-2 text-justify">
          Cada participante en el programa de afiliados que ofrece Meet Mas se compromete expresamente a este acuerdo de
          afiliación, términos y condiciones.
        </p>
      </div>

      <div class="w-100 mb-4">
        <p class="ms-2 mt-2 text-justify">
          <b>AVISO:</b> Por favor, lea atentamente este acuerdo. A menos que usted explícitamente está de acuerdo y dar
          su
          consentimiento a este acuerdo, es posible que no participen en el programa de afiliados ni como usuario en la
          web. Al participar en el programa de afiliados y como usuario de la web, usted está de acuerdo en cumplir y
          estar legalmente sometido a los términos y condiciones de este contrato. Si usted no está de acuerdo con todos
          los términos de este acuerdo y contrato, por favor no se registre en el programa de afiliados no utilice la
          web, en sus servicios y productos.
        </p>
      </div>



      <div class="w-100 d-flex justify-content-end mt-2">
        <span class="fw-bold">
          Fecha: Actualizado 7 de Junio del 2023.
        </span>
      </div>


      <br><br><br><br><br><br>
    </div>
  </div>
</div>
<div class="w-100 position-fixed bottom-0 ">
  <app-footer></app-footer>
</div>