<app-menu></app-menu>
<div class="container" style="min-height: 37vw">
  <div class="row">
    <!-- <div class="col col-lg-3">
      <app-columns [tipo]="1"></app-columns>
    </div> -->
    <div class="col-md-9">
      <ng-container></ng-container>
      <div class="contenido rounded p-4">
        <div class="row">
          <div class="col-md-4 ">
            <div class="d-flex align-items-center justify-content-center">

          
            <ng-container *ngIf="dataUser?.image != null">
              
              <img
                [src]="this.imageBase64"
                
                alt="..."
                class="img-fluid rounded-circle"
              />
            </ng-container>
            <ng-container *ngIf="dataUser?.image === null">
              <img
                [src]="'../../../../assets/user.png'"
                alt="..."
                class=" img-fluid rounded-circle"
              />
            </ng-container>
          </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="container">
                <div class="row">
                  <div class="col-md-10">
                    <h4 class="font-weight-bold">{{ dataUser.userName }}</h4>
                  </div>
                  <div class="col-md-2 d-flex justify-content-end">
                    <button
                      type="button"
                      class="btn nuevo"
                      (click)="Add()"
                    >
                      <fa-icon class="fa-3x" [icon]="faUserPlus"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="container p-3">
                <div class="row">
                  <div class="col-md-7">
                    {{ dataUser.firstname }}
                  </div>
                  <div class="col-md-5   d-flex justify-content-end">
                    <button type="button" class="btn nuevo" (click)="Update()">
                      Editar Perfil
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="container p-3">
                <div class="row">
                  <div class="col-md-7">
                    {{ dataUser.description }}
                  </div>
                  <div class="col-md-5  justify-content-end">
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row mt-2 d-flex align-items-center">
          <div class="col-md-2 float-left">Siguiendo</div>
          <div class="col-md-3 float-left">Seguidores</div>         
            <div class="col-md-3 float-left">
              <select #selectElement
              type="text"
              class="form-select"
              id="aprofile"
              required
              ngModel      
              [(ngModel)]="val"  (change)="selectProfile($event)"              
              name="aprofile"
              #aprofile="ngModel"
              [ngClass]="'input'"
            >
              <option selected
                *ngFor="let p of perfil"
                [value]="p._id"
              >
                {{ p.name }}
              </option>
            </select>
            </div>
          <div class="col-md-4 d-md-flex justify-content-md-end">
            <button type="button" class="btn nuevo" (click)="Publicar()">
              Nueva Publicación
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ng-container *ngIf="Post?.length > 0">
            <div class="row d-flex justify-content-center">
              <div class="col-md-4 p-2" *ngFor="let post of Post">
                <div class="contenido rounded p-3">
                  <div class="container">
                    
                      <div class="row">
                        <div class="col-md-2 p-2">
                          <ng-container *ngIf="img != null">
                            <img
                            [src]="this.imageBase64"
                              width="30px"
                              height="30px"
                              alt="..."
                              class="rounded-circle"
                            />
                          </ng-container>
                          <ng-container *ngIf="img === null">
                            <img
                              [src]="'../../../../assets/user.png'"
                              width="30px"
                              height="30px"
                              alt="..."
                              class="rounded-circle"
                            />
                          </ng-container>
                        </div>
                        <div class="col-md-10 d-flex align-items-center">
                          <h6 class="font-weight-bold">
                            {{ dataUser.userName }}
                          </h6>
                        </div>
                      </div>
                    <div class="row" >
                      <div class="h-100 d-inline-block card d-flex col-12 p-2">
                        <img
                          [src]="api + post.photo"
                          width="100%"
                          height="200px"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <p class="card-text">{{ post.description }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="Post?.length === 0">
            <div class="d-flex justify-content-center" style="min-height: 30vw">
              <Span>No hay publicaciones disponibles</Span>
            </div>
          </ng-container>
        </div>
       

      </div>
    </div>
    <div class="col col-lg-3">
      <app-columns [tipo]="0"></app-columns>
    </div>
  </div>
</div>

<app-mmodal
  [idModal]="'postModal'"
  [tipo]="13"
  [title]="'Nueva Publicación'"
  (PostModal)="RegisterPost($event)"
  [photoSelected]="photoSelected"
  (onChangeImagen)="cargarImagen($event)"
  #postModal
>
</app-mmodal>

<app-mmodal
  [idModal]="'updateProfile'"
  [tipo]="15"
  [user]="dataUser"
  [title]="'Modificar Perfil'"
  (PostModal)="UpdateProfile($event)"
  [photoSelected]="photoSelected"
  (onChangeImagen)="cargarImagen($event)"
  #updateProfile
>
</app-mmodal>

<app-mmodal
  [idModal]="'addProfile'"
  [tipo]="16"
  [user]="dataUser"
  [profile]="profile"
  [title]="'Agregar Perfil'"
  (AddProfile)="AddProfile($event)"
  #addProfile
>
</app-mmodal>

<app-modal-alerts
  [idModal]="'correct'"
  [icono]="'./assets/img/success.png'"
  [titulo]="'Registro Correcto'"
  [descripcion]="message"
  (successModal)="onRefresh()"
  [tipo]="0"
  #correctModal
></app-modal-alerts>

<app-modal-alerts
  [idModal]="'error'"
  [icono]="'./assets/img/warning.png'"
  [titulo]="'Error en el registro'"
  [descripcion]="message"
  [tipo]="0"
  #errorModal
></app-modal-alerts>


<app-modal-alerts
  [idModal]="'mmmmperfil'"
  [icono]="'./assets/img/warning.png'"
  [titulo]="'Perfil ya registrado'"
  [descripcion]="message"
  [tipo]="0"
  #mperfil
></app-modal-alerts>

<app-footer></app-footer>
