.input-btn {
  width: 15vw;
  min-height: 2vw;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  background: #f9a21e;
}

.containerInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*PHONE*/
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .input-btn {
    width: 30vw;
  }

  .containerInput {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    display: contents;
  }
}

/*TABLET*/
@media only screen and (min-width: 601px) and (max-width: 1300px) {
}
