<app-menu></app-menu>
<div class="d-flex flex-column align-items-center">
  <div class="col-12 d-flex justify-content-center align-items-center mt-5">
    <h3>INGRESA TUS DATOS</h3>
  </div>
  <ng-container *ngIf="dataUser.state === 0">
    <div class="container">
      <form #fmrUpdateBasic="ngForm" (ngSubmit)="onUpdateBasic(fmrUpdateBasic)">
        <div class="form-group col-md-6 col-sm-12 p-2">
          <label class="mb-1">Imagen</label>
          <input
            type="file"
            class="form-control"
            id="imagen"
            name="imagen"
            required
            ngModel
            #imagen="ngModel"
            [ngClass]="'input'"
            (change)="onChange($event)"
            accept="image/png"
          />
          <div
            *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)"
            class="text-danger form-group position-absolute"
          >
            <small class="form-group" *ngIf="imagen.errors?.['required']">
              Campo requerido.
            </small>
          </div>
        </div>

        <div class="col-12 containerInput mt-2 mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Nombres</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nombres Completos"
              id="firstname"
              name="firstname"
              required
              ngModel
              #firstname="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="
                firstname.invalid && (firstname.dirty || firstname.touched)
              "
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="firstname.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Apellidos</label>
            <input
              type="text"
              class="form-control"
              placeholder="Apellidos Completos"
              id="lastname"
              required
              ngModel
              name="lastname"
              #lastname="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="lastname.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 containerInput mt-2 mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Estudios</label>
            <select
              class="form-control"
              id="studies"
              required
              ngModel
              name="studies"
              #studies="ngModel"
              [ngClass]="'select'"
            >
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let item of studiesU" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
            <div
              *ngIf="studies.invalid && (studies.dirty || studies.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="studies.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Idioma nativo</label>
            <input
              type="text"
              class="form-control"
              placeholder="Idioma nativo"
              id="inativo"
              required
              ngModel
              name="inativo"
              #inativo="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="inativo.invalid && (inativo.dirty || inativo.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="inativo.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group text-center">
            <input
              type="submit"
              class="btn"
              value="Actualizar"
              [disabled]="!fmrUpdateBasic['valid']"
              [ngClass]="'input-btn'"
            />
          </div>
        </div>
      </form>
    </div>
  </ng-container>

  <ng-container *ngIf="dataUser.state === 1">
    <div class="container">
      <form
        #fmrUpdateAddres="ngForm"
        (ngSubmit)="onUpdateAddress(fmrUpdateAddres)"
      >
        <div class="col-12 containerInput mt-2 mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Tipo dirección</label>
            <input
              type="text"
              class="form-control"
              placeholder="Casa, Oficina, etc."
              id="address"
              name="address"
              required
              ngModel
              #address="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="address.invalid && (address.dirty || address.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="address.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Calle principal</label>
            <input
              type="text"
              class="form-control"
              placeholder="Calle principal"
              id="principal"
              required
              ngModel
              name="principal"
              #principal="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="
                principal.invalid && (principal.dirty || principal.touched)
              "
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="principal.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>

        <div class="col-12 containerInput mt-2 mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Calle secundaria</label>
            <input
              type="text"
              class="form-control"
              placeholder="Calle secundaria"
              id="secundaria"
              name="secundaria"
              required
              ngModel
              #secundaria="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="
                secundaria.invalid && (secundaria.dirty || secundaria.touched)
              "
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="secundaria.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Referencia</label>
            <input
              type="text"
              class="form-control"
              placeholder="Referencia"
              id="referencia"
              required
              ngModel
              name="referencia"
              #referencia="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="
                referencia.invalid && (referencia.dirty || referencia.touched)
              "
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="referencia.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group text-center">
            <input
              type="submit"
              class="btn"
              value="Actualizar"
              [disabled]="!fmrUpdateAddres['valid']"
              [ngClass]="'input-btn'"
            />
          </div>
        </div>
      </form>
    </div>
  </ng-container>

  <ng-container *ngIf="dataUser.state === 2">
    <div class="container">
      <form #fmrUpdate="ngForm" (ngSubmit)="onUpdate(fmrUpdate)">
        <div class="col-12 containerInput mt-2 mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Imagen</label>
            <input
              type="file"
              class="form-control"
              id="imagen"
              name="imagen"
              required
              ngModel
              #imagen="ngModel"
              [ngClass]="'input'"
              (change)="onChange($event)"
              accept="image/png"
            />
            <div
              *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="imagen.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 containerInput mt-2 mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Nombres</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nombres Completos"
              id="firstname"
              name="firstname"
              required
              ngModel
              #firstname="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="
                firstname.invalid && (firstname.dirty || firstname.touched)
              "
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="firstname.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Apellidos</label>
            <input
              type="text"
              class="form-control"
              placeholder="Apellidos Completos"
              id="lastname"
              required
              ngModel
              name="lastname"
              #lastname="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="lastname.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 containerInput mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Identificación</label>
            <input
              type="text"
              class="form-control"
              placeholder="Cédula / DNI / Pasaporte"
              id="identification"
              required
              ngModel
              name="identification"
              #identification="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="
                identification.invalid &&
                (identification.dirty || identification.touched)
              "
              class="text-danger form-group position-absolute"
            >
              <small
                class="form-group"
                *ngIf="identification.errors?.['required']"
              >
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Género</label>
            <select
              class="form-control"
              id="genero"
              required
              ngModel
              name="genero"
              #genero="ngModel"
              [ngClass]="'select'"
            >
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let item of generos" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
            <div
              *ngIf="genero.invalid && (genero.dirty || genero.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="genero.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 containerInput mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Peso</label>
            <input
              type="text"
              class="form-control"
              placeholder="Peso (Kg)"
              id="weight"
              required
              ngModel
              name="weight"
              #weight="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="weight.invalid && (weight.dirty || weight.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="weight.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Talla</label>
            <input
              type="text"
              class="form-control"
              placeholder="Talla / Altura"
              id="talla"
              required
              ngModel
              name="talla"
              #talla="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="talla.invalid && (talla.dirty || talla.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="talla.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 containerInput mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Color de ojos</label>
            <input
              type="text"
              class="form-control"
              placeholder="Color de ojos"
              id="ojoscolor"
              required
              ngModel
              name="ojoscolor"
              #ojoscolor="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="
                ojoscolor.invalid && (ojoscolor.dirty || ojoscolor.touched)
              "
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="ojoscolor.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Residencia actual</label>
            <input
              type="text"
              class="form-control"
              placeholder="Residencia actual"
              id="residencia"
              required
              ngModel
              name="residencia"
              #residencia="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="
                residencia.invalid && (residencia.dirty || residencia.touched)
              "
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="residencia.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 containerInput mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Estado Civil</label>
            <select
              class="form-control"
              id="statecivil"
              required
              ngModel
              name="statecivil"
              #statecivil="ngModel"
              [ngClass]="'select'"
            >
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let item of stateCivil" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
            <div
              *ngIf="
                statecivil.invalid && (statecivil.dirty || statecivil.touched)
              "
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="statecivil.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Política</label>
            <select
              class="form-control"
              id="policy"
              required
              ngModel
              name="policy"
              #policy="ngModel"
              [ngClass]="'select'"
            >
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let item of policies" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
            <div
              *ngIf="policy.invalid && (policy.dirty || policy.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="policy.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 containerInput mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Bebida</label>
            <select
              class="form-control"
              id="drink"
              required
              ngModel
              name="drink"
              #drink="ngModel"
              [ngClass]="'select'"
            >
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let item of drinks" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
            <div
              *ngIf="drink.invalid && (drink.dirty || drink.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="drink.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Fuma</label>
            <select
              class="form-control"
              id="smoke"
              required
              ngModel
              name="smoke"
              #smoke="ngModel"
              [ngClass]="'select'"
            >
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let item of smokes" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
            <div
              *ngIf="smoke.invalid && (smoke.dirty || smoke.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="smoke.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 containerInput mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Hijos</label>
            <select
              class="form-control"
              id="children"
              required
              ngModel
              name="children"
              #children="ngModel"
              [ngClass]="'select'"
            >
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let item of childrens" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
            <div
              *ngIf="children.invalid && (children.dirty || children.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="children.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Estudios</label>
            <select
              class="form-control"
              id="studies"
              required
              ngModel
              name="studies"
              #studies="ngModel"
              [ngClass]="'select'"
            >
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let item of studiesU" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
            <div
              *ngIf="studies.invalid && (studies.dirty || studies.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="studies.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 containerInput mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Tipo de cuerpo</label>
            <select
              class="form-control"
              id="bodyform"
              required
              ngModel
              name="bodyform"
              #bodyform="ngModel"
              [ngClass]="'select'"
            >
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let item of bodysF" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
            <div
              *ngIf="bodyform.invalid && (bodyform.dirty || bodyform.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="bodyform.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Signo zodiacal</label>
            <select
              class="form-control"
              id="signz"
              required
              ngModel
              name="signz"
              #signz="ngModel"
              [ngClass]="'select'"
            >
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let item of zodiacal" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
            <div
              *ngIf="signz.invalid && (signz.dirty || signz.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="signz.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 containerInput mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Profesión</label>
            <select
              class="form-control"
              id="profesion"
              required
              ngModel
              name="profesion"
              #profesion="ngModel"
              [ngClass]="'select'"
            >
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let item of job" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
            <div
              *ngIf="
                profesion.invalid && (profesion.dirty || profesion.touched)
              "
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="profesion.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Deporte</label>
            <select
              class="form-control"
              id="sport"
              required
              ngModel
              name="sport"
              #sport="ngModel"
              [ngClass]="'select'"
            >
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let item of deportes" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
            <div
              *ngIf="sport.invalid && (sport.dirty || sport.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="sport.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 containerInput mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Idioma nativo</label>
            <input
              type="text"
              class="form-control"
              placeholder="Idioma nativo"
              id="inativo"
              required
              ngModel
              name="inativo"
              #inativo="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="inativo.invalid && (inativo.dirty || inativo.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="inativo.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Idioma 1</label>
            <input
              type="text"
              class="form-control"
              placeholder="Idioma 1"
              id="idioma1"
              ngModel
              name="idioma1"
              #idioma1="ngModel"
              [ngClass]="'input'"
            />
          </div>
        </div>
        <div class="col-12 containerInput mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Idioma 2</label>
            <input
              type="text"
              class="form-control"
              placeholder="Idioma 2"
              id="idioma2"
              ngModel
              name="idioma2"
              #idioma2="ngModel"
              [ngClass]="'input'"
            />
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Idioma 3</label>
            <input
              type="text"
              class="form-control"
              placeholder="Idioma 3"
              id="idioma3"
              ngModel
              name="idioma3"
              #idioma3="ngModel"
              [ngClass]="'input'"
            />
          </div>
        </div>
        <div class="col-12 containerInput mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Idioma 4</label>
            <input
              type="text"
              class="form-control"
              placeholder="Idioma 4"
              id="idioma4"
              ngModel
              name="idioma4"
              #idioma4="ngModel"
              [ngClass]="'input'"
            />
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Idioma 5</label>
            <input
              type="text"
              class="form-control"
              placeholder="Idioma 5"
              id="idioma5"
              ngModel
              name="idioma5"
              #idioma5="ngModel"
              [ngClass]="'input'"
            />
          </div>
        </div>
        <div class="col-12 containerInput mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Pasatiempos</label>
            <input
              type="text"
              class="form-control"
              placeholder="Pasatiempos (separe con comas)"
              id="hobies"
              ngModel
              name="hobies"
              #hobies="ngModel"
              [ngClass]="'input'"
            />
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Comida</label>
            <input
              type="text"
              class="form-control"
              placeholder="Comida que le gusta (separe con comas)"
              id="food"
              ngModel
              name="food"
              #food="ngModel"
              [ngClass]="'input'"
            />
          </div>
        </div>
        <div class="col-12 containerInput mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Deportes</label>
            <input
              type="text"
              class="form-control"
              placeholder="Deportes (separe con comas)"
              id="sports"
              ngModel
              name="sports"
              #sports="ngModel"
              [ngClass]="'input'"
            />
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Ropa</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ropa que le gusta (separe con comas)"
              id="clothes"
              ngModel
              name="clothes"
              #clothes="ngModel"
              [ngClass]="'input'"
            />
          </div>
        </div>
        <div class="col-12 containerInput mb-3">
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Religión</label>
            <input
              type="text"
              class="form-control"
              placeholder="Religión"
              id="religion"
              required
              ngModel
              name="religion"
              #religion="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="religion.invalid && (religion.dirty || religion.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="religion.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 p-2">
            <label class="mb-1">Etnia</label>
            <input
              type="text"
              class="form-control"
              placeholder="Etnia"
              id="etnia"
              required
              ngModel
              name="etnia"
              #etnia="ngModel"
              [ngClass]="'input'"
            />
            <div
              *ngIf="etnia.invalid && (etnia.dirty || etnia.touched)"
              class="text-danger form-group position-absolute"
            >
              <small class="form-group" *ngIf="etnia.errors?.['required']">
                Campo requerido.
              </small>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group text-center">
            <input
              type="submit"
              class="btn"
              value="Actualizar Datos"
              [disabled]="!fmrUpdate['valid']"
              [ngClass]="'input-btn'"
            />
          </div>
        </div>
      </form>
    </div>
  </ng-container>
</div>

<app-modal-alerts
  [idModal]="'successP'"
  [icono]="'./assets/img/success.png'"
  [titulo]="'Datos actualizados correctamente'"
  [descripcion]="''"
  (successModal)="onRedirigir()"
  #successPModal
></app-modal-alerts>

<app-modal-alerts
  [idModal]="'fail'"
  [icono]="'./assets/img/fail.png'"
  [titulo]="'No se pudo actualizar los datos'"
  [descripcion]="errMsj"
  #failModal
></app-modal-alerts>
<app-footer></app-footer>
