.input-btn {
  width: 15vw;
  min-height: 2vw;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  background: #f9a21e;
}

.containerInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
}

h3 {
  font-family: Inter;
}

.nav-link:focus,
.nav-link.active {
  background: #fbb240;
  color: #000;
  border-radius: 10px 10px 0 0;
  font-family: Inter;
  font-size: 15px;
}

.nav-link {
  color: #000;
  font-family: Inter;
  font-size: 15px;
}

/*PHONE*/
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .input-btn {
    width: 50vw;
  }

  .containerInput {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    display: contents;
  }

  .nav-link:focus,
  .nav-link.active {
    font-size: 12px;
  }

  .nav-link {
    font-size: 12px;
  }

  .contAll {
    flex-direction: column;
  }
}

/*TABLET*/
@media only screen and (min-width: 601px) and (max-width: 1300px) {
  .input-btn {
    width: 20vw;
  }
}
