.text-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 78px;
  overflow: hidden; /*si no se declara añade los ... pero muestra todo el texto*/
}

.text-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; /*si no se declara añade los ... pero muestra todo el texto*/
}

.card-el {
  min-height: 200px;
  max-height: 200px;
}

.card-el-action {
  min-height: 240px;
  /* max-height: 240px; */
}

.img {
  height: 200px;
  width: 200px;
  max-height: 200px;
  max-width: 200px;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.img img {
  width: 100% !important;
}

span {
  cursor: pointer;
}
