.text-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 80px;
  overflow: hidden; /*si no se declara añade los ... pero muestra todo el texto*/
}

.text-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; /*si no se declara añade los ... pero muestra todo el texto*/
}

.card-el {
  min-height: 200px;
  max-height: 200px;
}

.card-el-action {
  min-height: 260px;
  max-height: 260px;
}

.img {
  width: 180px;
  height: 200px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img img {
  width: 100%;
}

.input-btn {
  min-height: 2vw;
  border: 1px solid #737373;
  margin-top: 1vw;
  margin-bottom: 1vw;
  background: #f9a21e;
}
