<ng-container *ngIf="type === 0">
  <div *ngIf="data.length > 0">
    <div *ngFor="let item of data">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="data:image/png;base64, {{ item.image }}"
              class="img-fluid rounded-start"
              alt=""
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <strong>Título</strong>
              <h5 class="card-title">
                {{ item.title }}
              </h5>
              <strong>Descripción</strong>
              <p class="card-text">
                {{ item.description }}
              </p>
              <strong>Paquete Comprado</strong>
              <p class="card-text">{{ item.package }} visitas</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="data.length === 0">
    <div class="card mb-3">
      <div class="col-md-12">
        <div class="card-body">
          <p class="card-text text-center">No tiene anuncios activos.</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type === 1">
  <div *ngIf="data.length > 0">
    <div *ngFor="let item of data">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="data:image/png;base64, {{ item.image }}"
              class="img-fluid rounded-start"
              alt=""
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <strong>Título</strong>
              <h5 class="card-title">{{ item.title }}</h5>
              <strong>Descripción</strong>
              <p class="card-text">{{ item.description }}</p>
              <strong>Enlace</strong>
              <p class="card-text">{{ item.link_ads }}</p>
            </div>
            <div class="card-footer border-0 d-flex justify-content-end">
              <button
                type="button"
                class="btn btn-outline-danger m-2"
                (click)="onDelete(item._id)"
              >
                Eliminar
              </button>
              <button
                type="button"
                class="btn btn-outline-primary m-2"
                (click)="onUpdate(item)"
              >
                Modificar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="data.length === 0">
    <div class="card mb-3">
      <div class="col-md-12">
        <div class="card-body">
          <p class="card-text">No tiene anuncios en revisión.</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type === 2">
  <div *ngIf="data.length > 0">
    <div *ngFor="let item of data">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="data:image/png;base64, {{ item.image }}"
              class="img-fluid rounded-start"
              alt=""
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <strong>Título</strong>
              <h5 class="card-title">{{ item.title }}</h5>
              <strong>Descripción</strong>
              <p class="card-text">
                {{ item.description }}
              </p>
              <strong>Motivo</strong>
              <p class="card-text">
                {{ item.comentary }}
              </p>
            </div>
            <div class="card-footer border-0 d-flex justify-content-end">
              <button
                type="button"
                class="btn btn-outline-danger m-2"
                (click)="onDelete(item._id)"
              >
                Eliminar
              </button>
              <button
                type="button"
                class="btn btn-outline-primary m-2"
                (click)="onUpdate(item)"
              >
                Reenviar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="data.length === 0">
    <div class="card mb-3">
      <div class="col-md-12">
        <div class="card-body">
          <p class="card-text text-center">No tiene anuncios devueltos.</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
