<!-- EN REVISION -->
<div class="row mt-2" *ngIf="type === 1">
  <div *ngFor="let item of data" class="col-12 col-md-6 my-1">
    <div class="card card-el">
      <div class="row g-0">
        <div class="col-md-4  img d-flex justify-content-center align-items-center ">
          <img [src]="item.file" class="img-fluid " alt="meet-mas" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 [title]="item.title" class="card-title text-title">{{ item.title }}</h5>
            <p [title]="item.description" class="card-text text-desc">{{ item.description }}</p>
            <p class="card-text text-end"><a [href]="item.link" target="_blank" class="text-muted">Visitar enlace</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 " *ngIf="data.length === 0">
    <div class="card">
      <div class="card-body">
        <p class="card-text text-center">No tienes anuncios en revisión.</p>
      </div>
    </div>
  </div>
</div>

<!-- ACTIVO -->
<div class="row mt-2" *ngIf="type === 0">
  <div *ngFor="let item of data" class="col-12 col-md-6 my-1">
    <div class="card card-el-action">
      <div class="row g-0">
        <div class="col-12 col-md-4  img d-flex justify-content-center align-items-center ">
          <img [src]="item.file" class="img-fluid" alt="meet-mas" />
        </div>
        <div class="col-12 col-md-8">
          <div class="card-body">
            <h5 [title]="item.title" class="card-title text-title">{{ item.title }}</h5>
            <p [title]="item.description" class="card-text text-desc">{{ item.description }}</p>
            <div class="d-flex flex-row justify-content-evenly">
              <p class="card-text text-end"><small class="text-muted"># Visitas: {{item.visit}}</small></p>
              <p class="card-text text-end"><a [href]="item.link" target="_blank" class="text-muted">Visitar</a>
              </p>
            </div>
            <div class="d-flex justify-content-end">
              <span *ngIf="!item.stop" title="Pausar" (click)="onOffAds(item)" class="m-2 text-dark">
                <fa-icon [icon]="['fas', 'pause-circle']"></fa-icon>
              </span>
              <span *ngIf="item.stop" title="Iniciar" (click)="onOffAds(item)" class="m-2 text-dark">
                <fa-icon [icon]="['fas', 'play-circle']"></fa-icon>
              </span>
              <span title="Editar" (click)="onUpdate(item)" class="m-2 text-warning">
                <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
              </span>
              <span title="Eliminar" (click)="onDelete(item._id!)" class="m-2 text-danger">
                <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 " *ngIf="data.length === 0">
    <div class="card mb-3">
      <div class="col-md-12">
        <div class="card-body">
          <p class="card-text text-center">No tienes anuncios en activos.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DEVUELTOS -->
<div class="row mt-2" *ngIf="type === 2">
  <div *ngFor="let item of data" class="col-12 col-md-6 my-1">
    <div class="card card-el-action">
      <div class="row g-0">
        <div class="col-md-4  img d-flex justify-content-center align-items-center ">
          <img [src]="item.file" class="img-fluid " alt="meet-mas" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 [title]="item.title" class="card-title text-title">{{ item.title }}</h5>
            <p [title]="item.description" class="card-text text-desc">{{ item.description }}</p>
            <p class="card-text text-end"><a [href]="item.link" target="_blank" class="text-muted">Visitar enlace</a>
            </p>
            <div class="d-flex justify-content-end">
              <span title="Editar" (click)="onUpdate(item)" class="m-2 text-warning">
                <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
              </span>
              <span title="Eliminar" (click)="onDelete(item._id!)" class="m-2 text-danger">
                <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 " *ngIf="data.length === 0">
    <div class="card mb-3">
      <div class="col-md-12">
        <div class="card-body">
          <p class="card-text text-center">No tienes anuncios devueltos.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ELIMINADOS -->
<div class="row mt-2" *ngIf="type === 3">
  <div *ngFor="let item of data" class="col-12 col-md-6 card card-el m-0 p-0">
    <div class="row g-0">
      <div class="col-md-4  img d-flex justify-content-center align-items-center ">
        <img [src]="item.file" class="img-fluid " alt="meet-mas" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 [title]="item.title" class="card-title text-title">{{ item.title }}</h5>
          <p [title]="item.description" class="card-text text-desc">{{ item.description }}</p>
          <p class="card-text text-end"><a [href]="item.link" target="_blank" class="text-muted">Visitar enlace</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 " *ngIf="data.length === 0">
    <div class="card mb-3">
      <div class="col-md-12">
        <div class="card-body">
          <p class="card-text text-center">No tienes anuncios desactivados.</p>
        </div>
      </div>
    </div>
  </div>
</div>