<app-menu></app-menu>
<div class="container" style="min-height: 40vw">
  <h5>{{ this.hotel.name }}</h5>
  <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist" #myTabs>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="pills-home-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-home"
        type="button"
        role="tab"
        aria-controls="pills-home"
        aria-selected="true"
      >
        Descripción General
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-otherService-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-otherService"
        type="button"
        role="tab"
        aria-controls="pills-otherService"
        aria-selected="false"
      >
        Otros Servicios
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-profile-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-profile"
        type="button"
        role="tab"
        aria-controls="pills-profile"
        aria-selected="false"
      >
        Habitaciones
      </button>
    </li>
    <!-- <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-location-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-location"
        type="button"
        role="tab"
        aria-controls="pills-location"
        aria-selected="false"
      >
        Ubicación
      </button>
    </li> -->
    <!-- <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-amenities-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-amenities"
        type="button"
        role="tab"
        aria-controls="pills-amenities"
        aria-selected="false"
      >
        Comodidades
      </button>
    </li> -->
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-policies-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-policies"
        type="button"
        role="tab"
        aria-controls="pills-policies"
        aria-selected="false"
      >
        Políticas
      </button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <!--DESCRIPCION GENERAL-->
    <div
      class="tab-pane fade show active"
      id="pills-home"
      role="tabpanel"
      aria-labelledby="pills-home-tab"
    >
      <div class="row">
        <div class="col col-lg-3">
          <app-columns [tipo]="1"></app-columns>
        </div>
        <div class="col-md-6">
          <div class="row p-3">
            <div class="col-md-6">
              <p>Dirección: {{ this.hotel.address }}</p>
              <p>Teléfono: {{ this.hotel.phone }}</p>
              <p>Gerente: {{ this.hotel.manager }}</p>
              <p>Estrellas:</p>
              <div class="val1">
                <app-rating-star
                  (eventSetRating)="setRating($event)"
                  [val]="this.hotel.stars"
                ></app-rating-star>
              </div>
            </div>
            <div class="col-md-6">
              <p>País: {{ this.hotel.country }}</p>
              <p>Ciudad: {{ this.hotel.city }}</p>
              <p>RUC: {{ this.hotel.ruc }}</p>
              <p>Página Web: {{ this.hotel.web }}</p>
            </div>
          </div>
          <hr />
          <!--Descripcion General-->
          <div class="row">
            <h2>Descripción</h2>

            <p>
              {{ this.hotel.description }}
            </p>
          </div>
        </div>
        <div class="col col-lg-3 float-left">
          <app-columns [tipo]="0"></app-columns>
        </div>
      </div>
    </div>

    <!--HABITACIONES-->

    <div
      class="tab-pane fade"
      id="pills-profile"
      role="tabpanel"
      aria-labelledby="pills-profile-tab"
    >
      <div class="row">
        <div class="col col-md-3">
          <app-columns [tipo]="1"></app-columns>
        </div>
        <div class="col-md-6">
          <div class="row p-4">
            <h5 class="p-2">Tipos de habitaciones</h5>
            <ng-container *ngIf="this.typeRoom?.length > 0">
              <div class="row" *ngFor="let t of this.typeRoom">
                <div class="col-md-1 float-left">
                  <fa-icon class="fa-x" [icon]="faShield"></fa-icon>
                </div>
                <div class="col-md-11 float-left">
                  {{ t.name }}
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="this.typeRoom?.length === 0">
              <p>No hay tipos de habitaciones registrados</p>
            </ng-container>
          </div>
          <div class="row p-4">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree1"
                    aria-expanded="false"
                    aria-controls="collapseThree1"
                  >
                    Registrar Tipo de Habitación
                  </button>
                </h2>
                <div
                  id="collapseThree1"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <form
                      #fmrRegisterType="ngForm"
                      class="form form-horizontal"
                      (ngSubmit)="registerType(fmrRegisterType)"
                    >
                      <div class="form-body">
                        <div class="row">
                          <div class="col-md-4 form-group">
                            <label> Nombre: </label>
                          </div>
                          <div class="col-md-8 form-group p-2">
                            <div class="position-relative has-icon-left">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Nombre"
                                id="tname"
                                name="tname"
                                required
                                ngModel
                                #tname="ngModel"
                                [ngClass]="'input'"
                              />

                              <div
                                *ngIf="
                                  tname.invalid &&
                                  (tname.dirty || tname.touched)
                                "
                                class="text-danger form-group position-absolute"
                              >
                                <small
                                  class="form-group"
                                  *ngIf="tname.errors?.['required']"
                                >
                                  Campo requerido.
                                </small>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 form-group">
                            <label> Descripción: </label>
                          </div>
                          <div class="col-md-8 form-group p-2">
                            <div class="position-relative has-icon-left">
                              <textarea
                                type="text"
                                class="form-control"
                                placeholder="Descripción"
                                id="tdescription"
                                name="tdescription"
                                required
                                ngModel
                                #tdescription="ngModel"
                                [ngClass]="'input'"
                              ></textarea>

                              <div
                                *ngIf="
                                  tdescription.invalid &&
                                  (tdescription.dirty || tdescription.touched)
                                "
                                class="text-danger form-group position-absolute"
                              >
                                <small
                                  class="form-group"
                                  *ngIf="tdescription.errors?.['required']"
                                >
                                  Campo requerido.
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 d-flex justify-content-end">
                            <input
                              type="hidden"
                              class="form-control"
                              id="thotel_id"
                              name="thotel_id"
                              ngModel
                              #thotel_id="ngModel"
                              [ngClass]="'input'"
                            />
                            <input
                              class="btn nuevo"
                              type="submit"
                              value="Registrar"
                              [disabled]="!fmrRegisterType['valid']"
                              [ngClass]="'input-btn'"
                            />
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div
            *ngIf="this.typeRoom?.length > 0"
            class="col-md-11 p-4 d-grid gap-2 d-md-flex justify-content-md-end"
          >
            <button
              type="button"
              class="btn btn-warning nuevo"
              (click)="onValidate()"
            >
              Publicar Habitación
            </button>
          </div>
          <ng-container *ngIf="this.room.length > 0">
            <div class="row p-3" *ngFor="let r of room">
              <div class="card">
                <h5 class="card-header">{{ r.name }}</h5>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <img
                        [src]="api + r.photo[0]"
                        alt=""
                        style="width: 250px; height: 250px"
                      />
                    </div>
                    <div class="col-md-6" style="padding-left: 8%">
                      <div class="row p-2">Número: {{ r.number }}</div>
                      <div class="row p-2">Tipo: {{ r.type }}</div>
                      <div class="row p-2">Precio: ${{ r.actualPrice }}</div>
                      <div class="row p-2">
                        Dimensión: {{ r.dimension }} ft²
                      </div>
                      <hr />
                      <div>
                        <button class="btn nuevo" (click)="detalleh(r._id)">
                          Ver detalles
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="this.room.length === 0">
            <h3>No existen habitaciones registradas</h3>
          </ng-container>
        </div>
        <div class="col col-md-3 float-left">
          <app-columns [tipo]="0"></app-columns>
        </div>
      </div>
    </div>
    <!--OTROS SERVICIOS-->
    <div
      class="tab-pane fade"
      id="pills-otherService"
      role="tabpanel"
      aria-labelledby="pills-otherService-tab"
    >
      <div class="row">
        <div class="col col-lg-3">
          <app-columns [tipo]="1"></app-columns>
        </div>
        <div class="col-md-6">
          <div class="row p-4">
            <h5 class="p-2">Servicios que ofrece el hotel</h5>
            <p>Listar todos los servicios que ofrece el hotel</p>
            <ng-container *ngIf="this.services?.length > 0">
              <div class="row" *ngFor="let s of this.services">
                <div class="col-md-1 float-left">
                  <fa-icon class="fa-x" [icon]="faShield"></fa-icon>
                </div>
                <div class="col-md-11 float-left">
                  {{ s.description }}
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="this.services?.length === 0">
              <p>No hay servicios registrados</p>
            </ng-container>
          </div>

          <div class="row p-4">
            <div class="accordion" id="accordionExample1">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Registrar nuevo servicio
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample1"
                >
                  <div class="accordion-body">
                    <form
                      #fmrRegisterServices="ngForm"
                      class="form form-horizontal"
                      (ngSubmit)="registerServices(fmrRegisterServices)"
                    >
                      <div class="form-body">
                        <div class="row">
                          <div class="col-md-12 form-group">
                            <label> Detalle: </label>
                          </div>
                          <div class="col-md-8 form-group p-2">
                            <div class="position-relative has-icon-left">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Servicio"
                                id="hdescription"
                                name="hdescription"
                                required
                                ngModel
                                #hdescription="ngModel"
                                [ngClass]="'input'"
                              />

                              <div
                                *ngIf="
                                  hdescription.invalid &&
                                  (hdescription.dirty || hdescription.touched)
                                "
                                class="text-danger form-group position-absolute"
                              >
                                <small
                                  class="form-group"
                                  *ngIf="hdescription.errors?.['required']"
                                >
                                  Campo requerido.
                                </small>
                              </div>
                            </div>
                          </div>
                          <div class="col-4 d-flex justify-content-end">
                            <input
                              type="hidden"
                              class="form-control"
                              id="hotel_id"
                              name="hotel_id"
                              ngModel
                              #hotel_id="ngModel"
                              [ngClass]="'input'"
                            />
                            <input
                              type="button"
                              class="btn btn-warning nuevo"
                              type="submit"
                              value="Registrar"
                              [disabled]="!fmrRegisterServices['valid']"
                              [ngClass]="'input-btn'"
                            />
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-3 float-left">
          <app-columns [tipo]="0"></app-columns>
        </div>
      </div>
    </div>

    <!--UBICACION-->
    <div
      class="tab-pane fade"
      id="pills-location"
      role="tabpanel"
      aria-labelledby="pills-location-tab"
    >
      <div class="row">
        <div class="col col-lg-3">
          <app-columns [tipo]="1"></app-columns>
        </div>
        <div class="col-md-6">ubicacion</div>
        <div class="col col-lg- float-left">
          <app-columns [tipo]="0"></app-columns>
        </div>
      </div>
    </div>

    <!--COMODIDADES-->
    <div
      class="tab-pane fade"
      id="pills-amenities"
      role="tabpanel"
      aria-labelledby="pills-amenities-tab"
    >
      <div class="row">
        <div class="col col-lg-3">
          <app-columns [tipo]="1"></app-columns>
        </div>
        <div class="col-md-6">comodidades</div>
        <div class="col col-lg-3 float-left">
          <app-columns [tipo]="0"></app-columns>
        </div>
      </div>
    </div>

    <!--POLICIES-->
    <div
      class="tab-pane fade"
      id="pills-policies"
      role="tabpanel"
      aria-labelledby="pills-policies-tab"
    >
      <div class="row">
        <div class="col col-lg-3">
          <app-columns [tipo]="1"></app-columns>
        </div>
        <div class="col-md-6">
          <div class="row p-4">
            <h5 class="p-2">Políticas del hotel</h5>
            <ng-container *ngIf="this.policies?.length > 0">
              <div class="row" *ngFor="let p of this.policies">
                <div class="col-md-1 float-left">
                  <fa-icon class="fa-x" [icon]="faShield"></fa-icon>
                </div>
                <div class="col-md-11 float-left">
                  {{ p }}
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="this.policies?.length === 0">
              <p>No hay políticas registradas</p>
              <p>
                Ingrese por lo menos un link donde se establescan las políticas
                del hotel
              </p>
            </ng-container>
            <div class="p-4">
              <div class="accordion" id="accordionExample1">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      Actualizar Políticas
                    </button>
                  </h2>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample1"
                  >
                    <div class="accordion-body">
                      <form
                        #fmrUpdatePolicies="ngForm"
                        (ngSubmit)="onPoliciesH(fmrUpdatePolicies)"
                      >
                        <div class="form-body">
                          <div class="row">
                            <div class="form-group mb-4">
                              <label> URL 1: </label>

                              <input
                                type="text"
                                class="form-control"
                                placeholder=""
                                id="policies1"
                                name="policies1"
                                required
                                ngModel
                                #policies1="ngModel"
                                [ngClass]="'input'"
                              />
                              <div
                                *ngIf="
                                  policies1.invalid &&
                                  (policies1.dirty || policies1.touched)
                                "
                                class="text-danger form-group position-absolute"
                              >
                                <small
                                  class="form-group"
                                  *ngIf="policies1.errors?.['required']"
                                >
                                  Campo requerido.
                                </small>
                              </div>
                            </div>
                            <div class="form-group mt-3">
                              <label> URL 2: </label>

                              <input
                                type="text"
                                class="form-control"
                                placeholder=""
                                id="policies2"
                                name="policies2"
                                ngModel
                                #policies2="ngModel"
                                [ngClass]="'input'"
                              />
                            </div>

                            <div class="col-sm-12">
                              <div class="form-group text-center">
                                <input
                                  type="submit"
                                  class="btn"
                                  value="ACTUALIZAR"
                                  [disabled]="!fmrUpdatePolicies['valid']"
                                  [ngClass]="'input-btn'"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-3 float-left">
          <app-columns [tipo]="0"></app-columns>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Registrar una nueva habitación-->
<app-mmodal
  [idModal]="'fadModal'"
  [tipo]="3"
  [title]="'Nueva Habitación'"
  [services]="this.services"
  (sendModal)="onFormRegisterRoom($event)"
  (onChangeModal)="cargarImagen($event)"
  (onSelectCheck)="selectCheck($event)"
  [typeRoom]="typeRoom"
  #fadModal
>
</app-mmodal>

<app-modal-alerts
  [idModal]="'correct'"
  [icono]="'./assets/img/success.png'"
  [titulo]="'Registro Correcto'"
  [descripcion]="message"
  (successModal)="onRefresh()"
  [tipo]="0"
  #correctModal
></app-modal-alerts>

<app-modal-alerts
  [idModal]="'error'"
  [icono]="'./assets/img/warning.png'"
  [titulo]="'Error en el registro'"
  [descripcion]="message"
  [tipo]="0"
  #errorModal
></app-modal-alerts>

<!-- modal el detalle de la habitacion -->
<app-mmodal
  [idModal]="'fadModalH'"
  [tipo]="5"
  [title]="'Detalle Habitación'"
  [photo]="photo"
  [price]="price"
  [room]="roomD"
  [service]="servicesR"
  (onPrice)="onFormRegisterPrice($event)"
  (onSelectPrice)="selectPrice($event)"
  #fadModalH
>
  <app-footer></app-footer>
</app-mmodal>
