<app-menu></app-menu>
<div class="d-flex flex-column ">
  <div class="container p-3 w-100 ">
    <h2 class="text-center fw-bold">POLITICA DE PRIVACIDAD</h2>
    <div class="container p-2 ms-2 mt-3">

      <div class="w-100 mb-4">
        <span class="fw-semibold">
          COMO PROTEGER SU PRIVACIDAD
        </span>
        <p class="ms-2 mt-2 text-justify">
          Esta política de privacidad le dice como recolectar, utilizar y proteger su información personal. Al visitar
          nuestro sitio web, usted acepta condiciones de esta política de privacidad. En particular, usted es consiente
          a
          nuestra recolección y uso de su información personal como se describe en esta política de privacidad.
        </p>
      </div>


      <div class="w-100 mb-4">
        <span class="fw-semibold">
          MENORES DE EDAD
        </span>
        <p class="ms-2 mt-2 text-justify">
          Nosotros no proveemos servicios para los niños. Si usted es menor de 18 años, puede usar nuestro sitio Web con
          el permiso y la participación activa de los padres o tutor legal. Si usted es menor de edad, por favor, no nos
          proporciona ni a otros visitantes del sitio web con cualquier información personal. </p>

      </div>

      <div class="w-100 mb-4">
        <span class="fw-semibold">
          POLITICA ES PARTE DE NUESTROS TERMINOS Y CONDICIONES DE USO
        </span>
        <p class="ms-2 mt-2 text-justify">
          Nuestra política de privacidad es parte de, y sujeto a los términos de nuestro sitio web y las condiciones de
          uso. Usted puede ver estos términos y condiciones en nuestra página web.
        </p>
      </div>


      <div class="w-100 mb-4">
        <span class="fw-semibold">
          EL TIPO DE INFORMACION QUE OBTENEMOS DE USTED
        </span>
        <p class="ms-2 mt-2 text-justify">
          Dirección IP, correo electrónico y sus datos personales.
          También podemos recoger todos los datos que nos facilite mediante la publicación en nuestro sitio web o por
          correo electrónico. Usted siempre puede optar por no proporcionarnos información. Sin embargo, si usted
          retiene información, podemos negarle el acceso a todos o algunos de los servicios de nuestro sitio web y sus
          características.
        </p>
      </div>

      <div class="w-100 mb-4">
        <span class="fw-semibold">
          LO QUE HACEMOS CON SU INFORMACION
        </span>
        <p class="ms-2 mt-2 text-justify">
          Nosotros usamos su información para comnicar. Por ejemplo, podemos usar estos datos para comunicarnos con
          usted acerca de los cambios a nuestro sitio web, nuevos servicios, u ofertas especiales, resolver conflictos,
          solucionar problemas, y hacer cumplir los términos de nuestro sitio web y las condiciones.
        </p>
      </div>

      <div class="w-100 mb-4">
        <span class="fw-semibold">
          CORREO Y CONTRASEÑA
        </span>
        <p class="ms-2 mt-2 text-justify">
          Su acceso a partes de nuestro sitio web puede estar protegido por un correo y una contraseña. No le da su
          contraseña a nadie. Si se introduce una sección de nuestra página web que requiere una contraseña, usted debe
          cerrar la sesión cuando se vaya. Como medida de seguridad, también debe cerrar el navegador web por completo y
          volver a abrirlo antes de visitar otros sitios de Internet.
        </p>
      </div>

      <div class="w-100 mb-4">
        <span class="fw-semibold">
          EL USO DE LA INFORMACION Y LA BASURA NO SOLICITADO E-MAIL
        </span>
        <p class="ms-2 mt-2 text-justify">
          Si usted obtiene información personal identificable sobre otro usuario del sitio web, no están autorizados a
          revelar esta información a otras personas sin el consentimiento del usuario y con nuestro consentimiento.
        </p>

        <p class="ms-2 mt-2 text-justify"> Podemos utilizar autorespondedores para comunicarnos con usted por correo
          electrónico. Para proteger su
          privacidad, se utiliza una opción de verificar en el sistema para las comunicaciones de este tipo y siempre se
          puede optar por este tipo de comunicaciones utilizando los enlaces que figuran en cada mensaje de respuesta
          automática.
        </p>
      </div>

      <div class="w-100 mb-4">
        <span class="fw-semibold">
          CAMBIOS EN LAS POLITICAS
        </span>
        <p class="ms-2 mt-2 text-justify"> Podemos utilizar autorespondedores para comunicarnos con usted por correo
          Los términos de esta política pueden cambiar de vez en cuando. Si estos cambios se hacen, se lo notificaremos
          mediante un anuncio publicado en la página principal de nuestro sitio web de los cambios que se han hecho.
        </p>
      </div>

      <div class="w-100 mb-4">
        <span class="fw-bold">
          También puede enviar sus inquietudes a la siguiente dirección:
        </span>
      </div>

      <div class="w-100 mb-4">
        <ul class="ms-2 mt-2">
          <li>Correos: <u class="text-primary">info@meetmas.com</u></li>
        </ul>
      </div>



      <div class="w-100 d-flex justify-content-end mt-2">
        <span class="fw-bold">
          Fecha: Actualizado 7 de Junio del 2023.
        </span>
      </div>


      <br><br><br><br><br><br>
    </div>
  </div>
</div>
<div class="w-100 position-fixed bottom-0 ">
  <app-footer></app-footer>
</div>