.nuevo {
  background-color: #f9a21e;
}

fa-icon:hover {
  color: #f9a21e;
  width: 20px;
  height: 20px;
}

.fa-3x {
  font-size: 1em !important;
  padding: 0;
}

.nav-link:focus,
.nav-link:hover,
.nav-link.active {
  background-color: #f9a21e;
  color: #000;
}

.nav-link {
  color: #000;
}

img {
  height: 160px;
  width: 250px;
}

/*TABLET*/
@media only screen and (min-width: 601px) and (max-width: 1300px) {
  img {
    height: 120px;
    width: 180px;
  }
}

.ads {
  margin-top: 5px;
}
.ads img {
  padding: 5px;
  border: 1px solid #cccccc;
  margin-right: 5px;
  margin-bottom: 5px;
}
.ads p {
  font-size: 12px;
  margin: 10px 0px 0px;
  padding: 0px;
  float: left;
  width: 342px;
  font-weight: bold;
  color: #000000;
}
.ads p a {
  color: #006699;
  text-decoration: underline;
}
.ads img:hover {
  padding: 5px;
  border: 1px solid #999999;
  margin-right: 5px;
  margin-bottom: 5px;
}
