<app-menu></app-menu>
<div class="d-flex flex-column ">
  <div class="container p-2 ">
    <h2 class="text-center fw-bold">FEES</h2>
    <div class="container p-2 ms-2">

      <div class="w-100">
        Todas las transacciones de retiro se aplicarán según esta tabla.
      </div>

      <div class="table-responsive mt-4">
        <table aria-describedby="" class="table text-center">
          <thead>
            <tr>
              <th scope="col">Monedas</th>
              <th scope="col">Costo de Transacción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>USD</td>
              <td>3% mas costo de procesador de pago seleccionado.
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
<div class="w-100 position-fixed bottom-0 ">
  <app-footer></app-footer>
</div>