<div class="sticky-bottom">
  <div class="col-6 copy">
    <span>Copyright &copy; 2023. {{ "footer.copyright" | translate }}</span>
  </div>
  <div class="col-6 social">
    <div>
      <a href="https://www.facebook.com/meetmascom" target="_blank">
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      </a>
    </div>
    <div>
      <a href="https://twitter.com/meetmascom" target="_blank">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      </a>
    </div>
    <div>
      <a href="https://www.youtube.com/@meetmascom" target="_blank">
        <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
      </a>
    </div>
    <div>
      <a href="https://www.pinterest.com/meetmascom" target="_blank">
        <fa-icon [icon]="['fab', 'pinterest']"></fa-icon>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/meetmascom" target="_blank">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      </a>
    </div>
    <div>
      <a href="https://www.tiktok.com/@meetmascom" target="_blank">
        <fa-icon [icon]="['fab', 'tiktok']"></fa-icon>
      </a>
    </div>
    <div>
      <a href="https://t.me/meetmascom" target="_blank">
        <fa-icon [icon]="['fab', 'telegram']"></fa-icon>
      </a>
    </div>
    <div>
      <a href="https://www.linkedin.com/company/meetmascom/" target="_blank">
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
      </a>
    </div>
  </div>
</div>
