<app-menu></app-menu>
<div class="container" style="min-height: 37vw">
  <div class="row">
    <!-- <div class="col col-lg-3">
      <app-columns [tipo]="1"></app-columns>
    </div> -->
    <div class="col-md-9">
      <div class="contenido rounded pt-4">
        <div class="row">
          <div class="container"> 
            <div class="row">
              <div class="col-md-3ng">
                <ng-container *ngIf="dataUser?.image !==''">
                  <img
                  [src]="this.imageBase64"
                  width="80%"
                  height="80%"
                  alt="..."
                  class="rounded-circle"
                />
                </ng-container>
                <ng-container *ngIf="dataUser?.image ===''">
                  <img
                  [src]="'../../../../assets/user.png'"
                  width="80%"
                  height="80%"
                  alt="..."
                  class="rounded-circle"
                />
                </ng-container>
              </div>
              <div class="col-md-6">
                <div>
                  <h4 class="font-weight-bold">{{ dataUser.userName }}</h4>
                </div>
                <div>{{ dataUser.firstname }}</div>
                <br>
                  <div class="col-md-12">
                    <p>{{ dataUser.description }}</p>
                  </div>
              </div>
              <div class="col-md-3 p-2">
                <button type="button" class="btn nuevo">
                  Seguir
                </button>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-12 mb-3 d-flex justify-content-center align-items-center" >
                  <div *ngFor="let social of dataUser?.rsocials">
                  <ng-container *ngIf="social.red === '1'">
                    <a
                      href="https://www.facebook.com/{{ social.user }}"
                      class="text-decoration-none text-dark mx-3"
                      target="_blank"
                    >
                      <fa-icon class="fa-3x" [icon]="['fab', 'facebook']"></fa-icon>
                    </a>
                  </ng-container>
                  <ng-container *ngIf="social.red === '2'">
                    <a
                      href="https://www.instagram.com/{{ social.user }}"
                      class="text-decoration-none text-dark mx-3"
                      target="_blank"
                    >
                      <fa-icon class="fa-3x" [icon]="['fab', 'instagram']"></fa-icon
                    ></a>
                  </ng-container>
                  <ng-container *ngIf="social.red === '3'">
                    <a
                      href="https://www.tiktok.com/@{{ social.user }} "
                      class="text-decoration-none text-dark mx-3"
                      target="_blank"
                    >
                      <fa-icon class="fa-3x" [icon]="['fab', 'tiktok']"></fa-icon
                    ></a>
                  </ng-container>
    
                  <ng-container *ngIf="social.red === '4'">
                    <a
                      href="https://www.twitter.com/{{ social.user }} "
                      class="text-decoration-none text-dark mx-3"
                      target="_blank"
                    >
                      <fa-icon class="fa-3x" [icon]="['fab', 'twitter']"></fa-icon
                    ></a>
                  </ng-container>
                  <ng-container *ngIf="social.red === '5'">
                      <a
                        href="https://www.youtube.com/{{ social.user }}"
                        class="text-decoration-none text-dark mx-3"
                        target="_blank"
                      >
                      <fa-icon class="fa-3x" [icon]="['fab', 'youtube']"></fa-icon></a
                      >
                  </ng-container>
                  <ng-container *ngIf="social.red === '6'">
                      <a
                        href="https://www.pinterest.com/{{ social.user }}"
                        class="text-decoration-none text-dark mx-3"
                        target="_blank"
                      >
                      <fa-icon class="fa-3x" [icon]="['fab', 'pinterest']"></fa-icon></a
                      >
                  </ng-container>
                </div>
              </div>
              </div>
            </div>
            
          </div>
          
          
        </div><br>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ng-container *ngIf="Post?.length > 0">
            <div class="row d-flex justify-content-center">
              <div class="col-md-4 p-2" *ngFor="let post of Post">
                <div class="contenido rounded p-3">
                  <div class="container">
                    
                      <div class="row">
                        <div class="col-md-2 p-2">
                          <ng-container *ngIf="img !==''">
                            <img
                            [src]="this.imageBase64"
                              width="30px"
                              height="30px"
                              alt="..."
                              class="rounded-circle"
                            />
                          </ng-container>
                          <ng-container *ngIf="img === ''">
                            <img
                              [src]="'../../../../assets/user.png'"
                              width="30px"
                              height="30px"
                              alt="..."
                              class="rounded-circle"
                            />
                          </ng-container>
                        </div>
                        <div class="col-md-10 d-flex align-items-center">
                          <h6 class="font-weight-bold">
                            {{ dataUser.userName }}
                          </h6>
                        </div>
                      </div>
                    <div class="row manito" (click)="selectedPost(post._id)">
                      <div class="h-100 d-inline-block card d-flex col-12 p-2">
                        <img
                        [src]="'data:image/png;base64,'+
                        post.photo"
                          width="100%"
                          height="200px"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <p class="card-text">{{ post.description }}</p>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="Post?.length === 0">
            <div class="d-flex justify-content-center" style="min-height: 30vw">
              <Span>No hay publicaciones disponibles</Span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col col-lg-3">
      <app-columns [tipo]="0"></app-columns>
    </div>
  </div>
</div>

<app-mmodal
  [idModal]="'postdetail'"
  [tipo]="14"
  [title]="'Detalle Publicación'"
  [post]="this.PostD"
  #postdetail
>
</app-mmodal>

<app-footer></app-footer>
