.contAll {
  flex-direction: row;
  font-family: Inter;
}

.central {
  background: #ffffff;
  border-radius: 20px;
}

.nav-link:focus,
.nav-link.active {
  background: #fbb240;
  color: #000;
  border-radius: 10px 10px 0 0;
  font-family: Inter;
  font-size: 15px;
}

.nav-link {
  color: #000;
  font-family: Inter;
  font-size: 15px;
}

/*PHONE*/
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .contAll {
    flex-direction: column-reverse;
  }

  .col {
    width: 100%;
  }

  .containerInput {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    display: contents;
  }

  .input-btn {
    width: 50vw;
  }

  .nav-link:focus,
  .nav-link.active {
    font-size: 12px;
  }

  .nav-link {
    font-size: 12px;
  }
}
