<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="dashboard">
      <img
        class="rounded img-fluid"
        src="../../assets/img/logo7.png"
        alt="Ken You Me"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <img
            class="rounded img-fluid"
            src="../../assets/img/logo7.png"
            alt="Ken You Me"
          />
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body mx-4">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="dashboard">
              <fa-icon [icon]="['fas', 'house']"></fa-icon>
              Inicio
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="offcanvasNavbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <fa-icon [icon]="['fas', 'user']"></fa-icon>
              Usuario
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li>
                <a class="dropdown-item" href="administradores">
                  <fa-icon [icon]="['fas', 'user-gear']"></fa-icon>
                  Administradores
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="supSistemas">
                  <fa-icon [icon]="['fas', 'computer']"></fa-icon>
                  Soporte Sistemas
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="supVentas">
                  <fa-icon [icon]="['fas', 'circle-dollar-to-slot']"></fa-icon>
                  Soporte Ventas
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="supAnuncios">
                  <fa-icon [icon]="['fas', 'rectangle-ad']"></fa-icon>
                  Soporte Anuncios
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="offcanvasNavbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <fa-icon [icon]="['fas', 'building-user']"></fa-icon>
              Servicios
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li>
                <a class="dropdown-item" href="">
                  <fa-icon [icon]="['fas', 'hotel']"></fa-icon>
                  Hoteles
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <fa-icon [icon]="['fas', 'utensils']"></fa-icon>
                  Restaurantes
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <fa-icon [icon]="['fab', 'pagelines']"></fa-icon>
                  Flores
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <fa-icon [icon]="['fas', 'users-line']"></fa-icon>
                  Amigos
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="admin">
              <fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon>
              Salir
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
