<app-menu></app-menu>
<div class="row p-0 m-0 chat-container -mt-2">
    <div class="col-4 chat-list p-2 overflow-y-auto">
        <div class="w-100 px-2 pt-2 mb-3">
            <span class="fw-bold">Chats</span>
        </div>
        <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9]; let i = index">
            <div class="d-flex flex-column px-3 mb-3 cursor-pointer">
                <div [ngClass]="{'chat-selected':i==0}"
                    class="row chat px-2 d-flex justify-content-between align-items-center">
                    <div class="col-12 col-md-2 position-relative">
                        <img class="img-fluid rounded-circle" src="https://www.w3schools.com/howto/img_avatar2.png"
                            alt="meet-mas">
                        <span class="position-absolute state translate-middle p-2  border border-light rounded-circle"
                            [ngClass]="{'bg-success':i==0, 'bg-danger':i!=0}">
                        </span>
                    </div>
                    <div
                        class="d-none col-0 col-md-10 chat-list p-2 d-md-flex flex-column align-items-start justify-content-start">
                        <span class="fw-bold">User {{i+1}}</span>
                        <span class="fs-12 truncate w-full">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            In ea a,
                            illum
                            sint culpa, iste
                        </span>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
    <div class="col-8">
        <div class="chat-user position-relative">
            <div class="info-user row p-2 mb-2">
                <div class="col-4 col-md-1 position-relative">
                    <img width="60" class="img-fluid rounded-circle"
                        src="https://www.w3schools.com/howto/img_avatar2.png" alt="meet-mas">
                    <span
                        class="position-absolute state-user translate-middle p-2 bg-success border border-light rounded-circle">
                    </span>
                </div>
                <div class="col-8 col-md-11 p-2 d-flex flex-column align-items-start justify-content-start">
                    <span class="fw-bold">User 1</span>
                    <span class="fs-12">Activo ahora</span>
                </div>
            </div>

            <div class="message-user p-2 w-100">
                <div class="fs-12 fw-lighter w-100 text-center mb-3">1/6/21 22:11</div>
                <div class="row m-0 mb-3">
                    <div class="col-10 col-md-6 row">
                        <div class="d-none d-md-block col-2">
                            <img class="img-fluid rounded-circle" src="https://www.w3schools.com/howto/img_avatar2.png"
                                alt="meet-mas">
                        </div>
                        <div class="col-10 message-user-detail py-2 px-3">
                            Lorem ipsum dolor sit amet,
                        </div>
                    </div>
                    <div class="col-2 col-md-6">
                    </div>
                </div>
                <!-- ME -->
                <div class="row m-0 mb-3">
                    <div class="col-2 col-md-6">
                    </div>
                    <div class="col-10 col-md-6 message-user-detail-me py-2 px-3">
                        Lorem ipsum
                    </div>
                </div>

                <div class="row m-0 mb-3">
                    <div class="col-10 col-md-6 row">
                        <div class="d-none d-md-block col-2">
                            <img class="img-fluid rounded-circle" src="https://www.w3schools.com/howto/img_avatar2.png"
                                alt="meet-mas">
                        </div>
                        <div class="col-10 message-user-detail py-2 px-3">
                            Lorem ipsum dolor sit amet,
                        </div>
                    </div>
                    <div class="col-2 col-md-6">
                    </div>
                </div>
                <div class="row m-0 mb-3">
                    <div class="col-10 col-md-6 row">
                        <div class="d-none d-md-block col-2">
                            <img class="img-fluid rounded-circle" src="https://www.w3schools.com/howto/img_avatar2.png"
                                alt="meet-mas">
                        </div>
                        <div class="col-10 message-user-detail py-2 px-3">
                            Lorem ipsum dolor sit amet,
                        </div>
                    </div>
                    <div class="col-2 col-md-6">
                    </div>
                </div>

                <div class="row m-0 mb-3">
                    <div class="col-2 col-md-6">
                    </div>
                    <div class="col-10 col-md-6 message-user-detail-me py-2 px-3">
                        Lorem ipsum
                    </div>
                </div>
                <div class="row m-0 mb-3">
                    <div class="col-2 col-md-6">
                    </div>
                    <div class="col-10 col-md-6 message-user-detail-me py-2 px-3">
                        Lorem ipsum
                    </div>
                </div>
            </div>

            <div class="position-absolute w-100 bottom-0">
                <div class="d-flex flex-row p-2 mb-2">
                    <textarea class="form-control me-2 rounded-5" [formControl]="chat" rows="1"></textarea>
                    <button type="button" class="btn btn-primary"
                        (click)="sendPrivateMessage(user.id,chat.value)">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->