<app-menu></app-menu>
<div class="d-flex flex-column ">
  <div class="d-flex flex-column container justify-content-start">
    <ul class="nav nav-tabs mb-3 border-0" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="member-home-tab" data-bs-toggle="pill" data-bs-target="#member-home"
          type="button" role="tab" aria-controls="member-home" aria-selected="true">
          Finanzas
          <fa-icon [icon]="['fas', 'wallet']"></fa-icon>
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="member-profile-tab" data-bs-toggle="pill" data-bs-target="#member-profile"
          type="button" role="tab" aria-controls="member-profile" aria-selected="false">
          Recargas
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </button>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active bg-white p-3" id="member-home" role="tabpanel"
        aria-labelledby="member-home-tab">
        <div class="table-responsive">
          <table aria-describedby="" class="table text-center">
            <thead>
              <tr>
                <th scope="col">Moneda</th>
                <th scope="col">Saldo</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="balances.length > 0">
                <tr *ngFor="let item of balances">
                  <td>{{ item.name }}</td>
                  <td>{{ item.price }}</td>
                  <td class="text-center">
                    <button title="Ver movimientos" type="button" data-bs-toggle="modal" data-bs-target="#transactions"
                      class="btn btn-outline-info mx-1">
                      <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                    </button>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="balances.length === 0">
                <tr class="text-center">
                  <td class="text-center" colspan="4">No existe información</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade show bg-white p-3" id="member-profile" role="tabpanel"
        aria-labelledby="member-profile-tab">
        <div class="mt-3 mb-3">
          <h2>Historial recargas</h2>
        </div>
        <div>
          <div class="d-flex justify-content-end">
            <input type="submit" class="btn" value="Recargar" data-bs-toggle="modal" data-bs-target="#recharge"
              [ngClass]="'input-btn'" />
          </div>
        </div>
        <div class="table-responsive">
          <table aria-describedby="" class="table text-center">
            <thead>
              <tr>
                <th scope="col">Hash</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha Act.</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="rechargs.length > 0">
                <tr *ngFor="let item of rechargs">
                  <td>{{ item.hash }}</td>
                  <td>{{ item.amount | currency : "USD" }}</td>
                  <td>{{ item.statusDetail }}</td>
                  <td>{{ item.updatedAt | date }}</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="rechargs.length === 0">
                <tr class="text-center">
                  <td class="text-center" colspan="5">No existe información</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 position-fixed bottom-0 ">
    <app-footer></app-footer>
  </div>



  <!-- RECARGA -->
  <div class="modal" tabindex="-1" id="recharge">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Recargar Saldo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
            <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
            <div class="form-group text-center">
              <input type="submit" class="btn" value="Guardar" [disabled]="form.invalid" [ngClass]="'input-btn'" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- MOVIMIENTOS -->
  <div class="modal" tabindex="-1" id="transactions">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Movimientos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table aria-describedby="" class="table text-center">
              <thead>
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Detalle</th>
                  <th scope="col">Valor</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="balances.length > 0">
                  <tr *ngFor="let item of balances">
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.price }}</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="balances.length === 0">
                  <tr class="text-center">
                    <td class="text-center" colspan="4">No existe información</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <app-modal-alerts [idModal]="'successCreateM'" [icono]="'./assets/img/success.png'" [titulo]="'Registro Correcto'"
    [descripcion]="message" (successModal)="onRedirigir()" [tipo]="0" #successCreateM></app-modal-alerts>

  <app-modal-alerts [idModal]="'failCreateM'" [icono]="'./assets/img/fail.png'" [titulo]="'Registro Incorrecto'"
    [descripcion]="message" [tipo]="0" #failCreateM></app-modal-alerts>