.notification-window {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    max-height: 800px;
    width: 400px;
    padding: 10px;
    margin-left: -200px;
  }
  
  .notification-window ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .notification-window li {
    padding: 5px 0;
  }
  
  .notification-window a {
    color: #333;
    text-decoration: none;
  }
  
  .notification-window a:hover {
    text-decoration: underline;
  }

  .noti{
    background-color: bisque;
  }
  