/* You can add global styles to this file, and also import other style files */

body {
  overflow-x: hidden !important;
}

.modal-backdrop {
  background-color: transparent !important;
  z-index: unset !important;
}

.text-justify {
  text-align: justify !important;
}

/* width */
::-webkit-scrollbar {
  cursor: pointer;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

body {
  background: #eeeeed;
  font-family: Inter;
}

.toast-success {
  background-color: #f9a21e !important;
}
