h3{
    text-align: center;
  }
  .rating{
    display: flex;
    
    gap: 5px;
    margin-top: 10px;
  }
  
  fa-icon{
    color: #8080806b;
    cursor: pointer;
    
  }
  
  fa-icon:hover{
      color: orange;
      width: 40px;
      height: 40px;
  }
  
  .active{
    color: orange;
  }
