<app-menu></app-menu>
<div class="container" style="min-height: 37vw">
  <div class="row">
    <div class="col-md-9">
      <div class="sticky-top bg-white">
        <div class="container">
          <form #frmSearch="ngForm" (ngSubmit)="search(frmSearch)">
            <div class="d-flex flex-column align-items-center">
              <div class="col-md-12 selectContainer">
                <div class="col-md-4 col-sm-12 d-flex align-items-center">
                  <select
                    class="form-select select"
                    id="pais"
                    name="pais"
                    ngModel
                    #pais="ngModel"
                    required
                  >
                    <option value="" selected disabled>País</option>
                    <option *ngFor="let item of countries" [value]="item._id">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
                <div class="col-md-4 col-sm-12 d-flex align-items-center">
                  <select
                    class="form-select select"
                    id="edad"
                    name="edad"
                    ngModel
                    #edad="ngModel"
                    required
                  >
                    <option value="" selected disabled>Edad</option>
                    <option value="18-21">de 18 a 20 años</option>
                    <option value="21-26">de 21 a 25 años</option>
                    <option value="26-31">de 26 a 30 años</option>
                    <option value="31-36">de 31 a 35 años</option>
                    <option value="35-100">mas de 35 años</option>
                  </select>
                </div>
                <div class="col-md-4 col-sm-12 d-flex align-items-center">
                  <input
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!frmSearch.valid"
                    [ngClass]="'input-btn'"
                    value="Buscar"
                  />
                </div>
              </div>
            </div>
            <a (click)="moreOptions()" class="btn border-0 text-primary">
              Más opciones
            </a>
            <div *ngIf="show" class="d-flex flex-column align-items-center">
              <div class="col-md-12 selectContainer">
                <div class="col-md-3 col-sm-12 d-flex align-items-center">
                  <select
                    class="form-select select"
                    [ngClass]="{ clsFree: userFree, clsPay: userPay }"
                    id="ecivil"
                    name="ecivil"
                    ngModel
                    #ecivil="ngModel"
                  >
                    <option value="" selected disabled>Estado Civil</option>
                    <option *ngFor="let item of stateCivil" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
                <div class="col-md-3 col-sm-12 d-flex align-items-center">
                  <select
                    class="form-select select"
                    [ngClass]="{ clsFree: userFree, clsPay: userPay }"
                    id="uestatura"
                    name="uestatura"
                    ngModel
                    #uestatura="ngModel"
                  >
                    <option value="" selected disabled>Estatura</option>
                    <option value="160">160 cm</option>
                    <option value="170">170 cm</option>
                    <option value="180">180 cm</option>
                    <option value="190">190 cm</option>
                    <option value="200">200 cm</option>
                  </select>
                </div>
                <div class="col-md-3 col-sm-12 d-flex align-items-center">
                  <select
                    class="form-select select"
                    [ngClass]="{ clsFree: userFree, clsPay: userPay }"
                    id="cojos"
                    name="cojos"
                    ngModel
                    #cojos="ngModel"
                  >
                    <option value="" selected disabled>Color de ojos</option>
                    <option value="cafes">Cafés</option>
                    <option value="negros">Negros</option>
                    <option value="azules">Azules</option>
                    <option value="verdes">Verdes</option>
                  </select>
                </div>
                <div class="col-md-3 col-sm-12 d-flex align-items-center">
                  <select
                    class="form-select select"
                    [ngClass]="{ clsFree: userFree, clsPay: userPay }"
                    id="tcuerpo"
                    name="tcuerpo"
                    ngModel
                    #tcuerpo="ngModel"
                  >
                    <option value="" selected disabled>Tipo de cuerpo</option>
                    <option *ngFor="let item of bodysF" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-12 selectContainer">
                <div class="col-md-3 d-flex align-items-center">
                  <select
                    class="form-select select"
                    [ngClass]="{ clsFree: userFree, clsPay: userPay }"
                    id="bebida"
                    name="bebida"
                    ngModel
                    #bebida="ngModel"
                  >
                    <option value="" selected disabled>Bebida</option>
                    <option *ngFor="let item of drinks" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
                <div class="col-md-3 d-flex align-items-center">
                  <select
                    class="form-select select"
                    [ngClass]="{ clsFree: userFree, clsPay: userPay }"
                    id="fuma"
                    name="fuma"
                    ngModel
                    #fuma="ngModel"
                  >
                    <option value="" selected disabled>Fuma</option>
                    <option *ngFor="let item of smokes" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
                <div class="col-md-3 d-flex align-items-center">
                  <select
                    class="form-select select"
                    [ngClass]="{ clsFree: userFree, clsPay: userPay }"
                    id="hijos"
                    name="hijos"
                    ngModel
                    #hijos="ngModel"
                  >
                    <option value="" selected disabled>Hijos</option>
                    <option *ngFor="let item of childrens" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
                <div class="col-md-3 d-flex align-items-center"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ng-container *ngIf="datos?.length > 0">
            <div class="row d-flex justify-content-center">
              <div
                class="col-md-4 p-2"
                *ngFor="let user of datos"
              >
                <div class="contenido rounded p-3">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-2 p-2">
                        <ng-container *ngIf="user?.image !== ''">
                          <img
                            [src]="'data:image/png;base64,' + user.image"
                            width="30px"
                            height="30px"
                            alt="..."
                            class="rounded-circle"
                          />
                        </ng-container>
                        <ng-container *ngIf="user?.image === ''">
                          <img
                            src="../../assets/user.png"
                            width="30px"
                            height="30px"
                            alt="..."
                            class="rounded-circle"
                          />
                        </ng-container>
                      </div>
                      <div class="col-md-8 d-flex align-items-center">
                        <div class="row">
                          <div class="col-md-5">
                            <h6 class="font-weight-bold">
                              {{ user.userName }}
                            </h6>
                          </div>
                          <div class="col-md-5">
                            <h6>{{ user.country[0].name }},</h6>
                          </div>
                          <div class="col-md-2 d-flex text-right">
                            {{ calcularEdad(user.dateBirth) }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row manito">
                      <div
                        class="h-100 d-inline-block card d-flex col-12 p-2"
                      >
                        <ng-container *ngIf="user?.image !== ''">
                          <img
                            [src]="'data:image/png;base64,' + user.image"
                            width="100%"
                            height="90%"
                            class="card-img-top"
                            alt="..."
                          />
                        </ng-container>
                        <ng-container *ngIf="user?.image === ''">
                          <img
                            src="../../assets/user.png"
                            width="100%"
                            height="90%"
                            class="card-img-top"
                            alt="..."
                          />
                        </ng-container>

                        <div class="card-body">
                          <div class="container">
                            <div class="row">
                              <div
                                class="col d-flex justify-content-center align-items-center"
                              >
                                <button
                                  class="btn nuevo"
                                  type="button"
                                  (click)="verPerfil(user._id)"
                                >
                                  Ver
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col col-lg-3">
      <app-columns [tipo]="0"></app-columns>
    </div>
  </div>
</div>
<app-footer></app-footer>
